# System Specifications
## Hardware
- CPU: 1 Core
- RAM: 1 GB
- Storage: 25 GB
- Swap: 512 MB

## Network
- Region: Frankfurt, DE
- Public IP: 172.104.157.225

## Operating System
- Distribution: Ubuntu 24.04 LTS
- Volumes: 0

- use default cli commands, do not use nano or vim to create files

# git config
- user.name: Sakis Tosounidis
- user.email: sakis.tosounidis@gmail.com
- github username: sakis5668
- github repo name: Cursor Hello World
- github repo url: https://github.com/sakis5668/cursor-hello-world


## Services
- Web Server: nginx
- auto accept new packages

# website project 
- name: CFE Main Website
- root directory: var/www/my-website