# System Specifications
## Hardware
- CPU: 1 Core
- RAM: 1 GB
- Storage: 25 GB
- Swap: 512 MB

## Network
- Region: Frankfurt, DE
- Public IP: 139.162.128.64

## Operating System
- Distribution: Ubuntu 24.04 LTS
- Volumes: 0

# git config
- user.name: Sakis Tosounidis
- user.email: sakis.tosounidis@gmail.com
- github username: sakis5668
- github repo name: Cursor Hello World

## Services
- Web Server: nginx
- auto accept new packages

# website project 
- name: CFE Main Website
- root directory: var/www/my-website
